extends ../../layout

block content
	script(src='/javascripts/admin/generic.js')
	script(src='/javascripts/admin/pledges.js')
	h1.
		Pledge Details
	p#pledgeId= pledge._id
	form#formViewPledge(name="viewpledge",role="form",method="post",action="/api/pledges/update")
		p
			| User 
			a(href="/admin/users/view/#{pledge.username}") #{pledge.username}
			|  has pledged to attend schedule 
			a(href="/#{dictionary.schedule.noun}s/view/#{pledge.schedule}") #{pledge.schedule}
			| .
		.form-group
			button#btnDelete.btn.btn-danger(type="button", onclick="del();") Delete