extends ../layout

block content
	h1= title
	p Edit your #{dictionary.action.noun.singular} session entry.
	hr
	script(src='/javascripts/ui/generic.js')
	script(src='/javascripts/ui/datepicker.js')
	script(src='/javascripts/ui/fulfilments.js')
	form#formLogEdit(name="logedit",role="form",method="post",action="/api/fulfilments/update")
		p#message.hidden
		.row
			.form-group.col-xs-6
				input#inputStartDate.form-control(type="text", placeholder="Start date", name="start_date", value="#{start_date}")
			.form-group.col-xs-6
				input#inputStartTime.form-control(type="text", placeholder="Start time", name="start_time", value="#{start_time}")
		.row
			.form-group.col-xs-6
				input#inputEndDate.form-control(type="text", placeholder="End date", name="end_date", value="#{end_date}")
			.form-group.col-xs-6
				input#inputEndTime.form-control(type="text", placeholder="End time", name="end_time", value="#{end_time}")
		.form-group.hidden
			input#inputUsername.hidden(name="username", value="#{user.username}")
		.form-group
			button#btnSave.btn.btn-success(type="button", onclick="update('/#{dictionary.action.noun.plural}', '#{fulfilment.id}')")
				i.fa.fa-save
				| &nbsp; Save
			| &nbsp;
			button#btnDelete.btn.btn-danger(type="button", onclick="del('/#{dictionary.action.noun.plural}', '#{fulfilment.id}')")
				i.fa.fa-remove
				| &nbsp; Delete

	script.
		
		$(function() {
			initPickers(true);
		});