extends ../layout

block content
	script(src="/javascripts/ui/generic.js")
	script(src="/javascripts/ui/users.js")
	script(src="/javascripts/ui/fulfilments.js")
	h1= dictionary.action.noun.plural
	p
		| These are your completed #{dictionary.action.noun.singular} sessions. You have #{dictionary.action.verb.past} for  
		if statistics.total > 0
			strong #{moment.duration(statistics.total).humanize()}
		else
			strong.more-info.dotted(data-text="Why not start now? Click the button below!") 0 minutes
		|  in total
		if statistics.fulfilments > 0
			|  and have logged 
			strong #{statistics.fulfilments}
			|  #{dictionary.action.noun.singular} session
			if statistics.fulfilments > 1
				| s
		| .
		if statistics.weeklyAverage > 0
			|  Your weekly average is 
			strong #{moment.duration(statistics.weeklyAverage).humanize()}
			| .
		|  You have 
		if statistics.scheduled > 0
			strong #{moment.duration(statistics.scheduled).humanize()}
			|  of 
		else
			| no 
		a(href="/#{dictionary.schedule.noun.plural}") #{dictionary.schedule.noun.plural}
		|  coming up.

	br
	#feed

	hr
	form
		.form-group
			button#btnNow.btn.btn-success.text-capitalize(type="button", title="Start your #{dictionary.action.noun.singular} now!", onclick="window.location='/#{dictionary.action.noun.plural}/now'")
				i.fa.fa-hourglass-half
				| &nbsp; #{dictionary.action.verb.present} now
			| &nbsp;
			button#btnLog.btn.btn-primary.text-capitalize(type="button", title="Log a previously completed #{dictionary.action.noun.singular}", onclick="window.location='/#{dictionary.action.noun.plural}/log'")
				i.fa.fa-file-o
				| &nbsp; Log #{dictionary.action.noun.singular}

	script.

		$(document).ready(function(){
			// Display the loading spinner
			$('#feed').html('<p>Loading... <i class=\"fa fa-refresh fa-spin\"></p>');

			// Function to retrieve fulfilment feed for the current user
			var __getFeed = function() {
				getFulfilmentFeed(user);
			};

			// Refresh every 60s
			feedTimeInterval = 60;

			// Retrieve the feed
			__getFeed();
			setInterval(__getFeed, feedTimeInterval * 1000);
		});
