extends ../layout

block content
	h1= dictionary.action.noun.plural
	p
		| These are your completed #{dictionary.action.noun.singular} sessions. You have #{dictionary.action.verb.past} for around 
		if statistics.total > 0
			strong #{moment.duration(statistics.total).humanize()}
		else
			strong 0 minutes
		|  in total 
		if statistics.weeklyAverage > 0
			| with an average of 
			strong #{moment.duration(statistics.weeklyAverage).humanize()}
			|  each week
		| . You have 
		if statistics.scheduled > 0
			strong #{moment.duration(statistics.scheduled).humanize()}
			|  of 
		else
			| no 
		a(href="/#{dictionary.schedule.noun.plural}") #{dictionary.schedule.noun.plural}
		|  coming up.
	if fulfilments.length > 0
		#fulfilments
			for fulfilment, i in fulfilments
				p
					strong #{moment(fulfilment.start_time).calendar()}
					|  you 
					if fulfilment.ongoing
						| are currently #{dictionary.action.verb.presentParticiple} and have been 
					else
						| #{dictionary.action.verb.past} 
					| for 
					a(href="/#{dictionary.action.noun.plural}/view/#{fulfilment.id}") #{ (moment.duration(moment(fulfilment.end_time).diff(fulfilment.start_time))).humanize() }
					| .
					if schedules[i]
						- var partial = (schedules[i].completion == 'partial');

						|  This 
						if fulfilment.ongoing
							if partial
								| partially 
							| #{dictionary.fulfilment.verb.present} 
						else
							if partial
								| partially 
							| #{dictionary.fulfilment.verb.past} 
						a(href="/#{dictionary.schedule.noun.plural}/view/#{schedules[i].id}") #{schedules[i].title}

						-
							var fullPledges = [];
							var partialPledges = [];

							pledges[i].forEach(function(p) {
								if (p.completion == 'partial') {
									partialPledges.push(p);
								} else {
									fullPledges.push(p);
								}
							});

							var samePledges = fullPledges;
							var otherPledges = partialPledges;

							if (partial) {
								samePledges = partialPledges;
								otherPledges = fullPledges;
							}

						if samePledges.length > 0
							|  with 
							for pledge, j in samePledges
								if j > 0
									if j < (samePledges.length - 1)
										| , 
									else
										|  and 
								a.text-capitalize(href="/users/#{pledge.username}") #{pledge.username}
						| .

						if otherPledges.length > 0
							| 
							for pledge, j in otherPledges
								if j > 0
									if j < (otherPledges.length - 1)
										| , 
									else
										|  and 
								a.text-capitalize(href="/users/#{pledge.username}") #{pledge.username}
							if !partial
								|  partially 
							if fulfilment.ongoing
								|  will #{dictionary.fulfilment.verb.present} 
							else
								|  #{dictionary.fulfilment.verb.past} 
							| the #{dictionary.schedule.noun.singular}.
		if pages > 1
			| Page 
			a(href="/#{dictionary.action.noun.plural}/list/#{page}", title="This page!") #{page}
			|  of 
			a(href="/#{dictionary.action.noun.plural}/list/#{pages}", title="Go to the last page") #{pages}
			| .
			if page > 1
				|  Go to the 
				a(href="/#{dictionary.action.noun.plural}/list/#{page - 1}", title="Go to the previous page") previous
				|  page.
			if page < pages 
				|  Go to the 
				a(href="/#{dictionary.action.noun.plural}/list/#{page + 1}", title="Go to the next page") next
				|  page.
			if page > 2
				|  Go to the 
				a(href="/#{dictionary.action.noun.plural}", title="Go to the first page") first
				|  page.

	else
		p
			em You have not logged any #{dictionary.action.noun.plural} sessions yet! To do so, click the button below.
	hr
	form
		.form-group
			button#btnNow.btn.btn-success.text-capitalize(type="button", title="Start your #{dictionary.action.noun.singular} now!", onclick="window.location='/#{dictionary.action.noun.plural}/now'")
				i.fa.fa-hourglass-half
				| &nbsp; #{dictionary.action.verb.present} now
			| &nbsp;
			button#btnLog.btn.btn-primary.text-capitalize(type="button", title="Log a previously completed #{dictionary.action.noun.singular}", onclick="window.location='/#{dictionary.action.noun.plural}/log'")
				i.fa.fa-file-o
				| &nbsp; Log #{dictionary.action.noun.singular}