extends ../layout

block content
	h1= title
	p
		| These are your completed #{dictionary.action.noun.singular} sessions. You have #{dictionary.action.verb.past} for around 
		if statistics.total > 0
			strong #{moment.duration(statistics.total).humanize()}
		else
			strong 0 minutes
		|  in total 
		if statistics.weeklyAverage > 0
			| with an average of 
			strong #{moment.duration(statistics.weeklyAverage).humanize()}
			|  each week
		| . You have 
		if statistics.scheduled > 0
			strong #{moment.duration(statistics.scheduled).humanize()}
			| of
		else
			| no
		|  #{dictionary.schedule.noun.plural} coming up.
	if fulfilments.length > 0
		#fulfilments
			for fulfilment, i in fulfilments
				p
					strong #{moment(fulfilment.start_time).calendar()}
					|  you 
					if fulfilment.ongoing
						| are currently #{dictionary.action.verb.presentParticiple} and have been 
					else
						| #{dictionary.action.verb.past} 
					| for 
					a(href="/#{dictionary.action.noun.plural}/view/#{fulfilment.id}") #{ (moment.duration(moment(fulfilment.end_time).diff(fulfilment.start_time))).humanize() }
					| .
	else
		p
			em You have not logged any #{dictionary.schedule.noun.plural} yet! To do so, click the button below.
	hr
	form
		.form-group
			button#btnNow.btn.btn-success.text-capitalize(type="button", title="Start your #{dictionary.action.noun.singular} now!", onclick="window.location='/#{dictionary.action.noun.plural}/now'") #{dictionary.action.verb.present} now
			| &nbsp;
			button#btnLog.btn.btn-primary.text-capitalize(type="button", title="Log a previously completed #{dictionary.action.noun.singular}", onclick="window.location='/#{dictionary.action.noun.plural}/log'") Log #{dictionary.action.noun.singular}