extends ../layout

block content
	h1= title
	p#message Press the button below to begin your #{dictionary.action.noun.singular} session.
	p#schedule
	h1#timer
	p#users
	hr
	script(src='/javascripts/ui/generic.js')
	script(src='/javascripts/ui/datepicker.js')
	script(src='/javascripts/ui/fulfilments.js')
	script(src='/vendor/timer.jquery/timer.jquery.min.js')
	form#formLog(name="log",role="form",method="post",action="/api/fulfilments/new")
		.form-group.hidden
			input#inputUsername.hidden(name="username", value="#{user.username}")
		.form-group
			button#btnStart.btn.btn-success(type="button", onclick="toggle('/#{dictionary.action.noun.plural}')")
				i.fa.fa-play
				| &nbsp; Start
			button#btnPause.btn.btn-success.hidden(type="button", onclick="toggle('/#{dictionary.action.noun.plural}')")
				i.fa.fa-pause
				| &nbsp; Pause
			| &nbsp;
			button#btnStop.btn.btn-warning(type="button", onclick="stop('/#{dictionary.action.noun.plural}')", disabled)
				i.fa.fa-check
				| &nbsp; Finish
			| &nbsp;
			button#btnCancel.btn.btn-danger(type="button", onclick="cancel('/#{dictionary.action.noun.plural}')")
				i.fa.fa-times
				| &nbsp; Cancel