extends ../layout

block content
	h1 Fulfilment
	script(src='/javascripts/ui/generic.js')
	script(src='/javascripts/ui/datepicker.js')
	script(src='/javascripts/ui/fulfilments.js')
	p
		a.text-capitalize(href="/users/#{fulfilment.username}", title="Visit {fulfilment.username}'s profile") #{fulfilment.username}
		|  #{dictionary.action.verb.past} #{moment(fulfilment.start_time).calendar()} until 
		if (moment.duration(moment(fulfilment.end_time).diff(fulfilment.start_time))).weeks() > 1
			| #{moment(fulfilment.end_time).calendar()}
		else
			if (moment.duration(moment(fulfilment.end_time).diff(fulfilment.start_time))).days() > 1
				| #{moment(fulfilment.end_time).format('dddd')} at 
			| #{moment(fulfilment.end_time).format('h:mm A')}
		| .
	if schedules.length > 0
		p#schedules
			| This #{dictionary.fulfilment.verb.past} the 
			if schedules.length > 1
				| #{dictionary.schedule.noun.plural} 
			else
				| #{dictionary.schedule.noun.singular} 
			for schedule, i in schedules
				if i > 0
					if i < schedule.length - 1
						| , 
					else 
						| and 
				a(href="/#{dictionary.schedule.noun.plural}/view/#{schedule._id}", title="View this #{dictionary.schedule.noun.singular}") #{schedule.title}
			| .

	if fulfilment.username == user.username || user.admin
		hr

		p#created.small
			| This #{dictionary.fulfilment.noun.singular} was created on #{moment(fulfilment.createdAt).format('Do MMMM YYYY')} at #{moment(fulfilment.createdAt).format('h:mm A')}.

			if fulfilment.real_time
				|  You cannot change #{dictionary.fulfilment.noun.plural} made using #{name}.
			else if !fulfilment.recent
				| You cannot change or remove old #{dictionary.fulfilment.noun.plural}.

			if fulfilment.ongoing
				button#btnResume.btn.btn-success(type="button", onclick="window.location='/#{dictionary.action.noun.plural}/now?start=true'")
					i.fa.fa-play
					| &nbsp; Resume
				| &nbsp;

			br

		if (fulfilment.recent || user.admin)
			if (!fulfilment.real_time || user.admin)
				button#btnEdit.btn.btn-primary(type="button", onclick="window.location='/#{dictionary.action.noun.plural}/edit/#{fulfilment.id}'")
					i.fa.fa-pencil
					| &nbsp; Edit
				| &nbsp;

			button#btnDelete.btn.btn-danger(type="button", onclick="del('/#{dictionary.action.noun.plural}', '#{fulfilment.id}')")
				i.fa.fa-remove
				| &nbsp; Delete
