extends layout

block content
	script(src='/javascripts/bcrypt.min.js')
	script(src='/javascripts/auth/hash.js')
	script(src='/javascripts/admin/generic.js')
	script(src='/javascripts/admin/users.js')
	h1.
		Details for #{user.username}
	p#userId= user._id
	form#formViewUser(name="viewuser",method="post",action="/api/users/update")
		input#inputUserName(type="text", placeholder="Username", name="username", value="#{user.username}")
		input#inputUserEmail(type="text", placeholder="Email address", name="useremail", value="#{user.email}")
		input#inputUserPass(type="password", placeholder="Password", name="userpass", value="password")
		each group, i in groups
			label
				if user.groups && user.groups.indexOf(group.name) > -1
					input(type="checkbox", checked="checked", name="usergroups", value="#{group.name}")
				else
					input(type="checkbox", name="usergroups", value="#{group.name}")
				= group.name
		button#btnUpdate(type="button", onclick="update();") Update
		button#btnDelete(type="button", onclick="del();") Delete