nav.navbar.navbar-default.navbar-fixed-top.navbar-shrink(role="navigation")
    .container
        .navbar-header.page-scroll
            button.navbar-toggle(type="button", data-toggle="collapse", data-target="#page-list")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href="/")= name

        #page-list.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
                each page, i in nav
                    if page.nav == null || page.nav
                        if page.guestOnly == null || (page.guestOnly && !user)
                            li
                                if page.popup
                                    a(href="#{page.href}", target="_blank").text-capitalize= page.title
                                else
                                    a(href="#{page.href}").text-capitalize= page.title
                if user
                    li
                        a(href="/#{dictionary.action.noun.plural}").text-capitalize Log #{dictionary.action.noun.plural}
                    li
                        a(href="/#{dictionary.schedule.noun.plural}").text-capitalize #{dictionary.schedule.noun.plural}
                li
                    if user && user.admin
                            a.active(href="/admin")
                                b.text-warning.text-capitalize Control Panel
                
                if user
                        li
                            a.active(href="/settings")
                                b.text-success.text-capitalize= user.username
                        li
                            a(href="/end")
                                i.fa.fa-power-off
                else
                    li
                        a(href="/auth").text-capitalize Sign In

if header
    header
        .container
            != header.content


