extends ../../layout

block content
	- function formatDuration(t) {
		- var str = "";
		- var days = moment.duration(t).days();
		- if (days > 0) str += days + ' days, ';
		-
		- var hours = moment.duration(t).hours();
		- if (hours > 0) str += hours + ' hours, ';
		-
		- var minutes = moment.duration(t).minutes();
		- if (minutes > 0) str += minutes + ' minutes, ';
		- str += moment.duration(t).seconds() + ' seconds';
		-
		- return str;
		- }

	- function groupName(g) {
		- if (g == "null") return "Ungrouped";
		- return g;
		- }

	- function ugroup() {
		- var g1 = statistics[Object.keys(statistics)[0]];
		- var g2 = statistics[Object.keys(statistics)[1]];
		- return (g1 < g2) ? Object.keys(statistics)[0] : Object.keys(statistics)[1];
		- }

	- function uvalue() {
		- var g1 = statistics[Object.keys(statistics)[0]].u;
		- var g2 = statistics[Object.keys(statistics)[1]].u;
		- return (g1 < g2) ? g1 : g2;
		- }

	h1= title
	p
		| This page contains the nonparametric analysis of the platform data. The analysis has been performed using the 
		a(href="https://en.wikipedia.org/wiki/Mann%E2%80%93Whitney_U_test", target="_blank") Mann-Whitney U-test
		| .

	#nonparametric
		table.table.table-bordered
			thead
				tr
					td Group
					td Size
					td Average value (Mean)
					td Central value (Median)
					td Rank (U-value)
			tbody
				tr
					- var groupA = Object.keys(statistics)[0]
					td= groupName(groupA)
					td= statistics[groupA].n
					td= formatDuration(statistics[groupA].mean)
					td= formatDuration(statistics[groupA].median)
					td= statistics[groupA].u

				tr
					- var groupB = Object.keys(statistics)[1]
					td= groupName(groupB)
					td= statistics[groupB].n
					td= formatDuration(statistics[groupB].mean)
					td= formatDuration(statistics[groupB].median)
					td= statistics[groupB].u

	p
		| The rank, also known as the U-value, is the smaller of the two group ranks. This is compared against a critical value, found in a 
		a(href="http://ocw.umb.edu/psychology/psych-270/other-materials/RelativeResourceManager.pdf", target="_blank") U-table
		|  or using an approximation. If the approximate critical value is much lower than expected it may be because your sample size is not large enough to be approximated as a normal distribution. If it is close to 20 then use the maximum value in the U-table.

	#uvalue
		table.table.table-bordered
			thead
				tr
					td Rank (U-value)
					td Approximate Critical Value
			tbody
				tr
					td= uvalue()
					td= statistics[groupA].critical

	p
		| To report the statistic, include the following text in your report:

		blockquote The Mann-Whitney U Test was performed on samples of size 
			= statistics[groupA].n
			|  and 
			= statistics[groupB].n
			|. The reported U-value, 
			code U
			| , was 
			= uvalue()
			| . Using the approximated critical value, 
			code CRIT
			| , of 
			= statistics[groupA].critical.toFixed(3)
			| , computed using a correction for tied ranks, the test indicates that the result is 
			if uvalue() > statistics[groupA].critical
				|  not
			|  statistically significant as 
			if uvalue() > statistics[groupA].critical
				code U > CRIT
			else
				code U < CRIT
			| .

		code
			| U(
			= statistics[groupA].n
			| , 
			= statistics[groupB].n
			| ) = 
			= uvalue()
			| , CRIT = 
			= statistics[groupA].critical
			| , p = 0.05

	hr

	button#btnBack.btn.btn-primary(onClick="location.href=\"/admin/analysis/\"")
		i.fa.fa-arrow-circle-left
		| &nbsp; Overview

	if !trim
		| &nbsp;

		button#btnTrim.btn.btn-warning(title="Trim participants with no fulfilments", onClick="location.href=location.href+\"/trim\"")
			i.fa.fa-scissors
			| &nbsp; Trim
