extends ../../layout

block content
	script(src='/javascripts/admin/generic.js')
	script(src='/javascripts/admin/users.js')
	h1.
		Details for #{_user.username}
	p#userId= _user._id
	form#formViewUser(name="viewuser",role="form",method="post",action="/api/users/update")
		.form-group
			input#inputUserName.form-control(type="text", placeholder="Username", name="username", value="#{_user.username}", title="Username")
		.form-group
			input#inputUserPass.form-control(type="password", placeholder="Password", name="userpass", value="#{_user.password}", title="Password")
		.form-group
			each group, i in groups
				label
					if _user.groups && _user.groups.indexOf(group.name) > -1
						input.form-control(type="checkbox", checked="checked", name="usergroups", value="#{group.name}")
					else
						input.form-control(type="checkbox", name="usergroups", value="#{group.name}")
					= group.name
				&nbsp; &nbsp; &nbsp;
		.form-group
			button#btnUpdate.btn.btn-success(type="button", onclick="update();", title="Update this user") Update
			| &nbsp;
			button#btnDelete.btn.btn-danger(type="button", onclick="del();", title="Delete this user") Delete