extends ../layout

block content
	.container
		.col-lg-12
			h1= title
			p This is #{name}, a tool to help #{dictionary.schedule.verb.present} your #{dictionary.action.noun} sessions. Using #{name} allows you to collaborate with friends to achieve your full potential.
			p Please #[a(href="/contact") contact us] if you want to find out more.
