extends ../layout

block content
	if _user.username == user.username
		h1 #{title} (You)
	else
		h1= title
	if _schedules.length > 0
		#schedules
			p
				if _user.username == user.username
					| You have 
				else
					span.text-capitalize #{_user.username} 
					| has 
				| created the following #{dictionary.schedule.noun.plural}: 
				each schedule, i in _schedules
					span.schedule
						if i > 0
							| , 
						a(href="/#{dictionary.schedule.noun.singular}s/view/#{schedule.id}") #{schedule.title}
				| .
	if _pledges.length > 0
		#pledges
			p
				if _user.username == user.username
					| You have 
				else
					span.text-capitalize #{_user.username} 
					| has 
				| #{dictionary.pledge.verb.past} to attend the following #{dictionary.schedule.noun.plural}: 
				each pledge, i in _pledges
					span.schedule
						if pledge.schedule != -1
							if i > 0
								| , 
							a(href="/#{dictionary.schedule.noun.plural}/view/#{pledge.schedule}") #{pledge.title}
				| .
	if _user.username == user.username
		hr
		button#btnEdit.btn.btn-primary(type="button", onclick="window.location='/settings'") Settings
		| &nbsp;
	if user.admin
		button#btnEdit.btn.btn-primary(type="button", onclick="window.location='/admin/users/view/#{_user.username}'") Edit
		| &nbsp;
		button#btnDelete.btn.btn-danger(type="button", onclick="del('/', '#{_user.username}')") Delete