extends ../layout

block content
	h1= title
	if _schedules.length > 0
		#schedules
			p I have created the following #{dictionary.schedule.noun}s: 
				each schedule, i in _schedules
					span.schedule
						if i > 0
							| , 
						a(href="/#{dictionary.schedule.noun}s/view/#{schedule.id}") #{schedule.title}
				| .
	if _pledges.length > 0
		#pledges
			p I have #{dictionary.pledge.verb.past} to attend the following #{dictionary.schedule.noun}s: 
				each pledge, i in _pledges
					span.schedule
						if pledge.schedule != -1
							if i > 0
								| , 
							a(href="/#{dictionary.schedule.noun}s/view/#{pledge.schedule}") #{pledge.title}
				| .
	if _user.username == user.username
		hr
		button#btnEdit.btn.btn-primary(type="button", onclick="window.location='/settings'") Settings
		&nbsp;
	if user.admin
		button#btnEdit.btn.btn-primary(type="button", onclick="window.location='/admin/users/view/#{_user.username}'") Edit
		&nbsp;
		button#btnDelete.btn.btn-danger(type="button", onclick="del('/', '#{_user.username}')") Delete